$width-btn-filter: 106px;

.home-search {
  background: #eee;
  padding: 20px 0;
  float: right;
  width: 100%;

  .con {
    width: 100%;
    float: right;
    overflow-x: auto;

    .cat-list {
      ul {
        @include containerWidth();
        overflow: hidden;

        li {
          padding: 6px;
          float: right;
          cursor: pointer;
          background: #ddd;
          width: calc(16.66% - #{$margin-size});
          margin-right: $margin-size;
          text-align: center;
          font-weight: 600;
          @include borderRadius(5px);
          @include transition(0.3s);

          .icon {
            margin-bottom: 6px;
            height: 100px;
            display: block;
          }

          span {
            border-top: 1px solid #bbb;
            padding-top: 6px;
            display: block;
          }
        }
      }

      @include bp(underdesktop) {
        overflow: hidden;
        height: 142px;

        ul {
          height: 142px;
          white-space: nowrap;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;

          li {
            width: calc(165px - #{$margin-size});
            display: inline-block;
            float: none;
          }
        }
      }
    }

    @include bp(underdesktop) {
      width: calc(100% - 10%);
      padding: 0 0 0 5%;
      margin: 0 5%;
    }
  }

  .filter {
    position: relative;
    background: #fff;
    padding: 5px;
    margin-top: $margin-size;
    padding-left: $width-btn-filter;
    animation: hide 1.2s alternate;

    // background-image: linear-gradient(to right bottom, #33bbed, #00c7cd, #32cb88, #a1c239, #faa61a);

    @include borderRadius(5px);
    @include containerWidth();

    .form-select {
      position: relative;
      width: calc(33.33% - 5px);
      margin-left: 5px;
      float: right;
      @include borderRadius(5px);

      .form-group {
        margin-bottom: 0;
      }

      input,
      select {
        width: 100%;
        float: right;
      }

      .search-list {
        position: absolute;
        top: 40px;
        right: 0;
        background: #fff;
        padding: 16px;
        max-height: 217px;
        overflow-x: auto;
        width: 100%;
        z-index: 1;
        @include borderRadius(25px);

        &::-webkit-scrollbar {
          width: 12px;
          /* for vertical scrollbars */
          height: 12px;
          /* for horizontal scrollbars */
        }

        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.5);
        }

        li {
          border-bottom: 1px solid $border-color;
          padding: 0 0 5px 0;
          margin: 0 0 5px 0;
          @include containerWidth();

          &.not-found,
          &:last-child {
            padding: 0px;
            margin: 0px;
            border: none;
          }

          a {
            margin: 0 0 10px 0;
          }
        }
      }
    }

    &.art {
      .form-select:nth-child(5) {
        width: calc(24% - 5px);
      }

      @include bp(upper1090max) {
        .form-select {
          width: calc(33.33% - 5px);
          margin-bottom: 5px;
          &:nth-child(3) {
            margin-left: 0;
          }
          &:nth-child(5) {
            width: calc(66.66% - 5px);
          }
        }
        .btn {
          position: static;
          width: 180px;
        }
      }
      @include bp(undertablet) {
        .form-select {
          width: calc(50% - 5px);
          margin-bottom: 5px;
          &:nth-child(3) {
            margin-left: 5px;
          }
          &:nth-child(5) {
            width: calc(100% - 5px);
          }
        }
        .btn {
          position: static;
        }
      }

      @include bp(mobile) {
        .form-select {
          width: calc(100%);
          margin-bottom: 5px;
          &:nth-child(3) {
            margin-left: 5px;
          }
          &:nth-child(5) {
            width: calc(100%);
          }
        }
        .btn {
          position: static;
        }
      }
    }

    &.language {
      .form-select {
        width: calc(21% - 5px);

        &:nth-child(4) {
          width: calc(37% - 5px);
        }
      }
    }

    .btn {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 14px 30px;
      height: 49px;
      min-width: 100px;
    }

    @include bp(upper1090max) {
      padding: 5px;
    }
  }
}
