.btn {
  background: $color-primary;
  padding: 8px 30px;
  height: 38px;
  color: white;
  outline: none;
  border: none;
  display: table;
  overflow: hidden;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  @include borderRadius(5px);
  @include transition(0.3s);
  &.border {
    color: inherit;
    background: inherit;
    border: 1px solid $color-primary;
  }
  &::before {
    content: "";
  }

  &.clicked {
    // animation-duration: 1.25s;
    // animation-fill-mode: forwards;
    // animation-iteration-count: infinite;
    // animation-name: placeHolderShimmer;
    // animation-timing-function: linear;
    // background: darkgray;
    // background: linear-gradient(
    //   to right,
    //   #eeeeee 10%,
    //   #dddddd 18%,
    //   #eeeeee 33%
    // );
    // background-size: 800px 104px;
    // height: 100px;
    cursor: no-drop;
    // position: relative;
    .text {
      top: -44px;
    }

    .spinners {
      display: table;
      margin: auto;
      bottom: 20px;
    }
  }
  .text {
    @include transition(0.3s);
    position: relative;
    display: inherit;
  }
  .spinners {
    width: 25px;
    height: 25px;
    bottom: -25px;
    position: relative;
    display: inherit;
    @include transition(0.3s);

    &:after {
      content: " ";
      display: block;
      width: 25px;
      height: 25px;
      margin: 1px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    &.drop-down {
      position: absolute;
      top: 12px;
      left: 10px;
    }
  }
}
